"[Unit]",
"Description=My Node.js Application",
"After=cloud-init.target",
"Wants=cloud-init.target",
"",
"[Service]",
"Type=simple",
"ExecStart=/usr/bin/node /home/admin/app.js",
"WorkingDirectory=/home/admin/",
"User=root",
"",
"[Install]",
"WantedBy=multi-user.target",
