[Unit]
Description=My Node.js Application
After=cloud-final.service

[Service]
User=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node /opt/csye6225/app.js
Restart=on-failure
RestartSec=30


[Install]
WantedBy=cloud-init.target
